<h3>Playlist</h3>

<div id="battle-block">
  <ul class="list-group">
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Example song 1</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Example song 2</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Example song 3</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Example song 4</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Example song 5</div>
      </li>
  </ul>
</div>