<h4>Punk Rock Jam</h4>

<div id="battle-block">
  <ul class="list-group">
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Savior by Rise Against</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Hero of War by Rise Against</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Swing Life Away by Rise Against</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Dammit by Blink 182</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>All The Small Things by Blink 182</div>
      </li>
  </ul>
</div>
  