<div id='versus'>Punk Rock Jam Vs. Metal Mix</div>

<playlist-block></playlist-block>

<h4>Metal Mix</h4>

<div id="battle-block">
  <ul class="list-group">
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Everlong by Foo Fighters</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Enter Sandman by Metallica</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>For Whom The Bell Tolls by Metallica</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Learn To Fly by Foo Fighters</div>
      </li>
      <li class="list-group-item">
        <div class="play">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div>Master of Puppets by Metallica</div>
      </li>
  </ul>
</div>
  