<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div style="text-align:center">
  <h1 id="title">
    {{ title }}
  </h1>
</div>
<div class="row">
  <div class="column" id="myNav">
    <nav class="navbar navbar-light bg-light justify-content-between">
      <h3>Hello {{ username }}</h3>
      <a routerLink="/explore" routerLinkActive="active" class="navbar-brand">
        Explore
      </a>
      <a routerLink="/battle" routerLinkActive="active" class="navbar-brand">
        Battle
      </a>
      <a routerLink="/playlist" routerLinkActive="active" class="navbar-brand">
        Playlist
      </a>
      <a routerLink="/login" routerLinkActive="active" class="navbar-brand">
        Login
      </a>
      <a routerLink="/logout" routerLinkActive="active" class="navbar-brand">
        Logout
      </a>
    </nav>
  </div>
  <div class="column" id="component">
    <router-outlet></router-outlet>
  </div>
</div>
